#### Conceitos de Python
A atividade tem como objetivo que os alunos foquem na seleção e análise de um conjunto de dados educacionais disponibilizado pelo INEP (Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira), através de seu portal de Indicadores Educacionais. O objetivo central é desenvolver competências em análise de dados com Python e visualização com Power BI, aplicando técnicas práticas aprendidas em aula.

Analisar os dados de distorção idade-série é importante porque mostra onde o fluxo escolar não está funcionando como deveria. Isso acontece quando o aluno está em uma série que não corresponde à sua idade, por exemplo, um adolescente ainda no ensino fundamental. Esse tipo de situação pode indicar que ele já repetiu de ano, entrou tarde na escola ou não teve o apoio necessário para acompanhar os estudos. Entender esses dados ajuda a pensar em soluções para evitar que os alunos fiquem para trás

A seguir vamos carregar o conjunto de dados (Inep - Taxa de Distorção idade-série) para responder a seguinte pergunta: A taxa de distorção idade-série é maior na área rural ou na área urbana?

OBS: A Taxa de Distorção idade-série traz as seguintes análises:

Taxa de Distorção de Idade-Série por Localização e Dependência Administrativa, 
Nos Níveis de Ensino Fundamental e Médio
-Brasil, Regiões Geográficas e Unidades da Federação - 2024

In [8]:
import pandas as pd

tdi = pd.read_excel('datasets/TDI_BRASIL_REGIOES_UFS_2024.xlsx', skiprows=8)
tdi

c:\Users\Pichau\Downloads\DataScience_4.0\.venv\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,NU_ANO_CENSO,UNIDGEO,NO_CATEGORIA,NO_DEPENDENCIA,FUN_CAT_0,FUN_AI_CAT_0,FUN_AF_CAT_0,FUN_01_CAT_0,FUN_02_CAT_0,FUN_03_CAT_0,...,FUN_05_CAT_0,FUN_06_CAT_0,FUN_07_CAT_0,FUN_08_CAT_0,FUN_09_CAT_0,MED_CAT_0,MED_01_CAT_0,MED_02_CAT_0,MED_03_CAT_0,MED_04_CAT_0
0,2024,Brasil,Total,Total,10.9,7.1,15.7,2.1,4.2,8.1,...,11.1,15,15.9,16.2,15.6,17.8,20.4,17.6,14.7,29.4
1,2024,Brasil,Urbana,Total,10.1,6.7,14.4,2,4.1,7.7,...,10,13.7,14.7,15,14.3,17.2,19.9,16.9,13.9,29
2,2024,Brasil,Rural,Total,16.3,10.1,25.9,2.5,4.9,10.6,...,18.1,25.1,25.8,26.3,26.4,29.3,30.1,28.8,28.9,33.3
3,2024,Brasil,Total,Federal,9.8,4.4,12.1,1.8,3.1,5,...,5.3,7.7,12.9,13.3,13.8,17.4,16,15.8,19,30.3
4,2024,Brasil,Urbana,Federal,9.8,4.4,12.1,1.8,3.1,5,...,5.3,7.7,12.9,13.3,13.8,17.4,15.9,15.8,19,30.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,2024,Distrito Federal,Total,Pública,14,10.4,18.5,4.4,3.7,13.2,...,16.4,16.3,20.9,16.6,19.9,21.9,25.3,23.1,15.9,--
585,2024,Distrito Federal,Urbana,Pública,13.9,10.3,18.3,4.6,3.5,13.1,...,16.3,16,20.8,16.5,19.6,21.7,25.2,23,15.7,--
586,2024,Distrito Federal,Rural,Pública,15,11.4,22.2,2.9,6.2,15.3,...,17.6,21.1,22.2,18.6,26.5,25.6,28.9,25.8,20.9,--
587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,Fonte: Censo da Educação Básica 2024/INEP.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
tdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NU_ANO_CENSO    588 non-null    object
 1   UNIDGEO         587 non-null    object
 2   NO_CATEGORIA    587 non-null    object
 3   NO_DEPENDENCIA  587 non-null    object
 4   FUN_CAT_0       587 non-null    object
 5   FUN_AI_CAT_0    587 non-null    object
 6   FUN_AF_CAT_0    587 non-null    object
 7   FUN_01_CAT_0    587 non-null    object
 8   FUN_02_CAT_0    587 non-null    object
 9   FUN_03_CAT_0    587 non-null    object
 10  FUN_04_CAT_0    587 non-null    object
 11  FUN_05_CAT_0    587 non-null    object
 12  FUN_06_CAT_0    587 non-null    object
 13  FUN_07_CAT_0    587 non-null    object
 14  FUN_08_CAT_0    587 non-null    object
 15  FUN_09_CAT_0    587 non-null    object
 16  MED_CAT_0       587 non-null    object
 17  MED_01_CAT_0    587 non-null    object
 18  MED_02_CAT_0    587 non-null    object
 19  MED_03_CAT_0    587 non-null    object
 20  MED_04_CAT_0    587 non-null    object
dtypes: object(21)
memory usage: 96.8+ KB

Todas as colunas presentes no arquivo estão sendo identificadas como Object, ou seja, estão sendo tratadas como String, por isso para seguir com a análise dos dados, iremos selecionar as colunas que seram necessárias para a analise desses dados 

As colunas selecionadas serão: Dependência Administrativa, Localização, Ensino Fundamental - Total e Ensino Médio - Total

In [10]:
tdi = tdi.iloc[:, [1, 2, 3, 4, 16]]
tdi

              UNIDGEO NO_CATEGORIA NO_DEPENDENCIA FUN_CAT_0 MED_CAT_0
0              Brasil        Total          Total      10.9      17.8
1              Brasil       Urbana          Total      10.1      17.2
2              Brasil        Rural          Total      16.3      29.3
3              Brasil        Total        Federal       9.8      17.4
4              Brasil       Urbana        Federal       9.8      17.4
..                ...          ...            ...       ...       ...
584  Distrito Federal        Total        Pública        14      21.9
585  Distrito Federal       Urbana        Pública      13.9      21.7
586  Distrito Federal        Rural        Pública        15      25.6
587               NaN          NaN            NaN       NaN       NaN
588               NaN          NaN            NaN       NaN       NaN

[589 rows x 5 columns]

A seguir, vamos renomear as colunas para facilitar a identificação e compreensão do que cada uma representa

UG = Unidade Geográfica
LOC = Localização
DA = Dependência Administrativa
TEF = Total Ensino Fundamental
TEM = Total Ensino Médio

In [13]:
colunas = ["UG" , "LOC", "DA", "TEF", "TEM"]
tdi.columns = colunas
tdi

                   UG     LOC       DA   TEF   TEM
0              Brasil   Total    Total  10.9  17.8
1              Brasil  Urbana    Total  10.1  17.2
2              Brasil   Rural    Total  16.3  29.3
3              Brasil   Total  Federal   9.8  17.4
4              Brasil  Urbana  Federal   9.8  17.4
..                ...     ...      ...   ...   ...
584  Distrito Federal   Total  Pública    14  21.9
585  Distrito Federal  Urbana  Pública  13.9  21.7
586  Distrito Federal   Rural  Pública    15  25.6
587               NaN     NaN      NaN   NaN   NaN
588               NaN     NaN      NaN   NaN   NaN

[589 rows x 5 columns]

In [14]:
tdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UG      587 non-null    object
 1   LOC     587 non-null    object
 2   DA      587 non-null    object
 3   TEF     587 non-null    object
 4   TEM     587 non-null    object
dtypes: object(5)
memory usage: 23.1+ KB

Mesmo após renomear as colunas, elas ainda aparecem como Object, ou seja, ainda estão sendo tratadas como String, para converter isso iremos executar: